<div class="cog cog__1" ><i id="cog__1" class="material-icons">settings</i></div>
<div class="cog cog__2"><i id="cog__2" class="material-icons">settings</i></div>
<div class="cog cog__3"><i id="cog__3" class="material-icons">settings</i></div>
<div class="error__container">
    <div class="error">
        <h1><mat-icon id="icon-clear" class="primaryColor">{{icon}}</mat-icon>{{title}}</h1>
        <p>
            {{description}}
        </p>
        <button [routerLink]="['/recipes']" mat-raised-button color="primary">
            Recipes
        </button>
    </div>
</div>

