.back-navigation {    
    cursor: pointer;
    margin-left: -2px;
}

.material-icons {
    vertical-align: middle;
    font-size: 20px;
}

mat-icon {
    height: 20px;
    width: 20px;
    text-decoration: none !important;
}
